doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.css')
  body.container
    header._c-page-header
      h1._c-page-header__title
        a(href="/")
          | Генератор документов
    block content
